<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../styles.css" /> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/authPages.css" />
  </head>
  <body>
    <div class="mainContainer">
      <h1>Login</h1>
      <form class="login-form">
        <label for="email">Email</label>
        <input
          type="email"
          class="email-input"
          name="email"
          id="email"
          placeholder="Enter your email addres"
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="password-input"
          placeholder="Enter you password"
        />
        <div class="submitButtonWrapper">
          <button type="submit">login</button>
        </div>
      </form>
      <div class="bottomContainer">
        <a href="/auth/register">register</a>
      </div>
      <script src="../login.js"></script>
    </div>
  </body>
</html>
