<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../styles.css" /> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="/auth/login">login</a>
    <form class="register-form">
      <input type="text" class="name-input" placeholder="username..." />
      <input type="email" class="email-input" placeholder="email..." />
      <input type="password" class="password-input" placeholder="password" />
      <button type="submit">submit</button>
    </form>
    <script src="../register.js"></script>
  </body>
</html>
